---
---
<footer id="footer" class="footer position-relative light-background">
  <div class="footer-bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="copyright">
            <p>© <span>Copyright</span> <strong class="px-1 sitename">www.ghi-housing.com</strong> <span>Todos los derechos reservados</span></p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="footer-bottom-links">
            <a href="/privacy">Política de Privacidad</a>
            <a href="/terms">Términos y Condiciones</a>
            <a href="#">Política de Cookies</a>
          </div>
          <div class="credits">
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
